<!--<header class="main_header">
    <div class="row">
        <div class="img">
            <a class="logo" routerLink="/home"></a>
        </div>
        <nav>
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/roles">Classes</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/skills">Skills</a>
                </li>
                <li routerLinkActive="">
                    <a routerLink="/items">Items</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/maps">Maps</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/floors">Floors</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/monsters">Monsters</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/npcs">Npcs</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/quests">Quests</a>
                </li>
            </ul>
        </nav>
    </div>
</header>-->


<div class="img">
    <a class="logo" routerLink="/home"></a>
</div>
<div class="wrap">
    <ul class="wrap-nav">
        <li>
            <a>Classes</a>
            <ul>
                <li><a href="/roles/1">Warrior</a></li>
                <li><a href="/roles/2">Wizard</a></li>
                <li><a href="/roles/3">Taoist</a></li>
                <li><a href="/roles/4">Assasin</a></li>
            </ul>
        </li>
        <li>
            <a>Skills</a>
            <ul>
                <li><a href="/skills/classes">Classes</a></li>
                <li><a href="/skills/types">Types</a></li>
                <li><a href="/skills">All</a></li>
            </ul>
        </li>
        <li>
            <a>Items</a>
            <ul>
                <li><a href="/items">Wearable</a></li>
                <li><a href="/items">General</a></li>
                <li><a href="/items">Sets</a></li>
                <li><a href="/items">All</a></li>
            </ul>
        </li>
        <li>
            <a>Maps</a>
            <ul>
                <li><a href="/types">Types</a></li>
                <li><a href="/maps">All</a></li>
            </ul>
        </li>
        <li>
            <a>Quests</a>
            <ul>
                <li><a href="/quests">Main</a></li>
                <li><a href="/quests">Special</a></li>
                <li><a href="/quests">Repeatable</a></li>
                <li><a href="/quests">Daily</a></li>
            </ul>
        </li>
        <li>
            <a>Other</a>
            <ul>
                <li><a href="/monsters">Monsters</a></li>
                <li><a href="/floors">Floors</a></li>
                <li><a href="/npcs">Npcs</a></li>
            </ul>
        </li>
    </ul>
</div>
